<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">

	<!--
        <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> by <a href="https://trilby.media">Trilby Media</a>.</p>
	-->


	<p>
	  <small>

<i class="fa fa-align-justify" aria-hidden="true"></i>
Mastodon: &nbsp;<a rel="me" href="https://fosstodon.org/@mootParadox">@mootParadox</a>
<i class="fa fa-rss" aria-hidden="true"></i>
(<a href="https://fosstodon.org/@mootParadox.rss">rss</a>)
<br />

<i class="fa fa-twitter" aria-hidden="true"></i>
Twitter: &nbsp;<a href="https://twitter.com/joncraddock">@JonCraddock</a>
<br />

<i class="fa fa-key" aria-hidden="true"></i>
Keybase: &nbsp;<a href="https://keybase.io/mootparadox">mootParadox</a> &nbsp;|&nbsp; <a href="https://keybase.io/joncraddock">JonCraddock</a>
<br />

<i class="fa fa-github-alt" aria-hidden="true"></i>
GitHub: &nbsp;<a href="https://github.com/jonathancraddock">JonathanCraddock</a>

	  </small>
	</p>

    </section>
</section>
