@font-face {
  font-family: quoteFont;
  src: url(/kalam.ttf);
}

/* Pull-down menu on narrow display background colour */
.overlay {
  background: #cacaca;
}

/* ??? 
a:visited {
  color: #fff;
  margin-bottom: 5px;
}
*/

/* Dropdown link menu text to white */
.treemenu li a, .treemenu li a.active, .treemenu li a:focus, .treemenu li a:hover {
  color: #fff !important;
  margin-bottom: 5px;
}

/* Style the dropdown menu buttons */
.treemenu li {
  margin: 1em 0 1em 0;
  background: rgba(30, 73, 111, 0.65);
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(30, 73, 111, 0.9);
  border-width: 2px;
  color: whitesmoke;
}

/* Align bullet to centre of text */
.treemenu .toggler {
    padding-top: 3px;
}

/* Don't make dropdown menu transparent */
.overlay.open {
  opacity: 1;
}

/* Default Links */
a {
  color: #126bd9;
}

a:visited {
  color: #126bd9;
}


/* Tighten up margins on  blog cards */

.blog-listing .bricklayer-column {
  padding-right: 5px;
  padding-left: 5px; }

.blog-listing .card {
  margin-bottom: 20px; }

/* Grey background on blockquote */
blockquote {
  border-left: 0.3rem solid #dfdfdf;
  margin-right: 0;
  background-color: #e7e9ed80;
  font-family: quoteFont;
  font-size: large;
}

blockquote p {
  font-size: large;
}

.awsig {
  display: flex;
  margin-left: auto;
  margin-top: -20px;
}

.notices.green {
  border-left: 0.3rem solid #5cb85c4a;
}

/* Slightly tighten heading spacing */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5rem;
}

.h2, h2 {
  font-size: 1.5rem;
}

/* Used by 'links' on blog listing page, increase by .2rem */
.h5, h5 {
  font-size: 1.2rem;
}


/* Larger 'category' taxonomy tags */
.taxonomyCats .tags .label {
  background-color: #fff;
  margin: 1px;
  border-radius: .1rem;
  font-weight: normal;
  font-size: small;
  border: .05rem solid #3085eee6;
  color: #3085eee6;
  text-align: center;
  transition: background .2s,border .2s,box-shadow .2s,color .2s;
  cursor: pointer;
  height: 1.8rem;
  font-size: .8rem;
  line-height: 1.2rem;
  display: inline-block;
  padding-top: 0.15rem;
}

.taxonomyCats .tags .label:focus, .taxonomyCats .tags .label:hover {
  text-decoration: none;
  border-color: #227ded;
  background: #e1edfd;
}

/* Blog 'clear filter' button for taxonomy filter */
.btn.clearFilter {
  margin-top: 6em;
  margin-bottom: -6em;
  z-index: -1;
  position:relative;
}

/* Allow button to be displayed over a Hero section */
.btn, .button {
    z-index: 1 !important;
    position: relative !important;
}

/* Tighten spacing at bottom of Hero section */
.hero {
    padding-bottom: 6rem;
    margin-bottom: -3rem;
}

/* Larger body font size */
p {
    font-size: medium;
}

/* Fade links in footer */
#footer a, #footer a:visited, #footer a:focus, #footer a:hover {
  color: #126bd99c;
}

/* Create a subtle horizontal rule */
hr {
  border: solid #e6e6e6;
  border-width: 1px 0 0 0;
  width: 85%;
  margin-top: 1.2em;
}

/* Balance the text inside of a 'notices' panel */
.notices {
    padding: 0.1rem 0.5rem 0.1rem 1rem;
}

.notices p {
    margin: 0.6rem 0;
}

/* Faded green-grey background to code blocks */
.hljs {
    background: #E5F0DF69;
    border-radius: 8px;
}


